<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/formulario.css">
    <title>Document</title>
</head>
<body>
    <div class="contenedorDatos">
        <div class="elementosDatos nombreQuiz">Opcion Multiple</div>
        <div class="elementosDatos contenedortitulo">
            <div class="textoDato">Titulo: </div>
            <div class="contenedorInput">
                <input class="inputDatos datoTitulo" type="text" placeholder="Agrega el titulo" name="tituloQuiz" value="<%= titulo %> ">
            </div>
        </div>
        <div class="elementosDatos contenedorMateria">
            <div class="textoDato">Materia: </div>
            <div class="contenedorInput">
                <input class="inputDatos datoMateria" type="text" placeholder="Agrega la materia" name="materiaQuiz" >
            </div>
        </div>
        <div class="elementosDatos contenedorGrado">
            <div class="textoDato">Grado: </div>
            <div class="contenedorInput">
                <input class="inputDatos datoGrado" type="text" placeholder="Agrega el grado" name="gradoQuiz" >
            </div>
        </div>
        <div class="elementosDatos contenedorGuarda">
            <button class="guardarQuiz" type="" id="enviar">Guardar</button>
        </div>
    </div>
    <div class="contenedorFormulario"></div>
    <script type="text/javascript" src="../../js/jquery.js"></script>
    <script type="text/javascript" src="../../js/formulario.js"></script>
</body>
</html>