<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>Ejs</title>
</head>
<body>
    <a href="/quiz/newQuiz" style="color: #fff; text-decoration: none;">Nuevo quiz</a>
    <div class="contenedorDatos">
        <table class="tablaQuiz">
            <thead>
                <tr class="encabezadosTabla">
                    <td class="celdas">Tipo Quiz</td>
                    <td class="celdas">Titulo</td>
                    <td class="celdas">Materia</td>
                    <td class="celdas">Grado</td>
                    <td class="celdas" colspan="3">Acciones</td>
                </tr>
            </thead>
        </table>
    </div>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/TweenMax.min.js"></script>
    <script type="text/javascript" src="js/global.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <!-- <script type="text/javascript" src="js/main.js"></script> -->
</body>
</html>