body, html{
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: rgb(43, 55, 70);
	margin: 0;
	overflow: hidden !important;
}
.contenedorDatos{
    position: absolute;
    width: 30%;
    height: 100%;
    left: 0;
    top: 0;
    border-right: 2px solid white;
    background-color: #b3afaf;
    box-sizing: border-box;
}
.contenedorDatos .elementosDatos{
    position: relative;
    float: left;
    width: 95%;
    height: 50px;
    margin-bottom: 5px;
}
.contenedorDatos .elementosDatos:last-child{
    margin-bottom: 0px;
}
.contenedorDatos .elementosDatos.nombreQuiz{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedorDatos .elementosDatos .textoDato{
    position: absolute;
    width: 30%;
    height: 50px;
    left: 0;
    top: 0;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedorDatos .elementosDatos .contenedorInput{
    position: absolute;
    width: 70%;
    height: 50px;
    top: 0;
    right: 0;
}
.contenedorDatos .elementosDatos .contenedorInput .inputDatos{
    position: absolute;
    width: 100%;
    height: 40px;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto 0;
    box-sizing: border-box;
}
.contenedorDatos .elementosDatos .guardarQuiz{
    position: absolute;
    width: 70px;
    height: 30px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.contenedorFormulario{
    position: absolute;
    width: 70%;
    top: 50px;
    right: 0;
    /* overflow-x: auto; */
    /* background-color: yellow; */
}
.contenedorFormulario .contenedorReactivo{
    position: relative;
    width: 435px;
    height: auto;
    left: 0;
    top: 0;
    right: 0;
    margin: 0 auto 50px auto;
    background-color: #b3afaf;
}
.contenedorFormulario .contenedorReactivo .addPregunta{
    position: absolute;
    width: 35px;
    height: 35px;
    right: -17px;
    top: -17px;
    font-size: 35px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
    border-radius: 50%;
    border: none;
    z-index: 2;
}
.contenedorFormulario .contenedorReactivo .contenedorPregunta{
    position: relative;
    width: 100%;
    height: 50px;
    left: 0;
    top: 0;
}
.contenedorFormulario .contenedorReactivo .contenedorPregunta .elementoPregunta{
    position: relative;
    float: left;
    height: 100%;
    left: 0;
    top: 0;
    /* background-color: green; */
}
.contenedorFormulario .contenedorReactivo .contenedorPregunta .elementoPregunta.contenedorTexto{
    width: 130px;
    font-size: 25px;
    display: flex;
    align-items: center;
    padding: 0px 5px;
}
.contenedorFormulario .contenedorReactivo .contenedorPregunta .elementoPregunta.contenedorInput{
    width: 200px;
}
.contenedorFormulario .contenedorReactivo .contenedorPregunta .elementoPregunta.contenedorInput input{
    position: absolute;
    width: 100%;
    height: 40px;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    box-sizing: border-box;
}
.contenedorFormulario .contenedorReactivo .contenedorOpciones{
    position: relative;
    width: 100%;
    height: auto;
}
.contenedorFormulario .contenedorReactivo .contenedorOpciones .contenedorOpcion{
    position: relative;
    width: 100%;
    height: auto;
    left: 0;
}
.contenedorFormulario .contenedorReactivo .contenedorOpciones .contenedorOpcion{
    position: relative;
    width: 100%;
    height: 50px;
    left: 0;
    /* background-color: red; */
}
.contenedorFormulario .contenedorReactivo .contenedorOpciones .contenedorOpcion .elementoOpcion{
    position: relative;
    float: left;
    height: 50px;
    left: 0;
    top: 0;
    /* background-color: green; */
}
.contenedorFormulario .contenedorReactivo .contenedorOpciones .contenedorOpcion .elementoOpcion.contenedorTexto{
    width: 130px;
    font-size: 25px;
    display: flex;
    align-items: center;
    padding: 0px 5px;
}
.contenedorFormulario .contenedorReactivo .contenedorOpciones .contenedorOpcion .elementoOpcion.contenedorInput{
    width: 200px;
}
.contenedorFormulario .contenedorReactivo .contenedorOpciones .contenedorOpcion .elementoOpcion.contenedorInput input{
    position: absolute;
    width: 100%;
    height: 40px;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    box-sizing: border-box;
}
.contenedorFormulario .contenedorReactivo .contenedorOpciones .contenedorOpcion .elementoOpcion.contenedorCheck{
    width: 30px;
    margin-left: 10px;
    /* background-color: black; */
}
.contenedorFormulario .contenedorReactivo .contenedorOpciones .contenedorOpcion .elementoOpcion.contenedorCheck input{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
}
.contenedorFormulario .contenedorReactivo .contenedorOpciones .contenedorOpcion .elementoOpcion.contenedorBoton{
    width: 35px;
    margin-left: 10px;
    /* background-color: pink; */
}
.contenedorFormulario .contenedorReactivo .contenedorOpciones .contenedorOpcion .elementoOpcion.contenedorBoton .addReactivo{
    position: absolute;
    width: 35px;
    height: 35px;
    left: 0px;
    top: 0px;
    bottom: 0;
    margin: auto 0;
    font-size: 35px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
    border-radius: 50%;
    border: none;
    z-index: 2;
}
