body, html{
	position: absolute;
	/*width: 100%;
	height: 100%;*/
	width: 1024px;
	height: 768px;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: rgb(43, 55, 70);
	margin: 0;
	overflow: hidden !important;
}
.contenedorDatos{
    position: absolute;
    width: 800px;
    height: auto;
    max-height: 700px;
    left: 0;
    right: 0;
    top: 20px;
    margin: 0 auto;
    background-color: red;
}
.contenedorDatos .tablaQuiz{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    background-color: yellow;
}
.contenedorDatos .tablaQuiz tr{
    height: 40px;
}
.contenedorDatos .tablaQuiz td{
    text-align: center;
}
.contenedorDatos .tablaQuiz .encabezadosTabla{
    font-size: 25px;
    background-color: green;
}
.contenedorDatos .tablaQuiz .filaTabla{
    font-size: 20px;
    background-color: pink;
}
.contenedorDatos .tablaQuiz .celdaVer{
    background: url(../assets/ver.png) no-repeat center center;
    background-size: contain;
}
.contenedorDatos .tablaQuiz .celdaEditar{
    background: url(../assets/editar.png) no-repeat center center;
    background-size: contain;
}
.contenedorDatos .tablaQuiz .celdaEliminar{
    background: url(../assets/eliminar.png) no-repeat center center;
  	background-size: contain;
}
.contenedorDatos .tablaQuiz .celdas .contenedorLink{
    width: 100%;
    height: 100%;
}
/* .contenedorDatos .tablaQuiz .encabezadosTabla .celdas{

} */
/* .contenedorDatos .contenedorDato{
    position: relative;
    float: left;
    width: 10%;
    height: 50px;
    left: 0;
    top: 0;
    background-color: yellow;
}
.contenedorDatos .contenedorDato .elementosDatos{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

} */