body, html{
	position: absolute;
	/*width: 100%;
	height: 100%;*/
	width: 1024px;
	height: 768px;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: rgb(43, 55, 70);
	margin: 0;
	overflow: hidden !important;
}
.contenedorPrincipal{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
.contenedorPrincipal .mainGame{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
.contenedorPrincipal .mainGame .contenedorEjercicios{
	position: absolute;
	width: 500px;
	height: 500px;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	/* background-color: red; */
}
.contenedorPrincipal .mainGame .contenedorEjercicios .contenedorEjercicio{
	position: relative;
	float: left;
	width: 100%;
	height: auto;
	min-height: 50px;
	left: 0;
	top: 0;
	margin-bottom: 20px;
	/* background-color: blue; */
}
.contenedorPrincipal .mainGame .contenedorEjercicios .contenedorEjercicio .textoPregunta{
	position: relative;
	width: 100%;
	height: auto;
	left: 0;
	top: 0;
	font-size: 30px;
	color: #ffffff;
	/* background-color: green; */
}
.contenedorPrincipal .mainGame .contenedorEjercicios .contenedorEjercicio .textoPregunta .contenedorSelect{
	position: relative;
	width: 165px;
	display: inline-flex;
	/*max-width: 250px;
	appearance: none;*/
}
.contenedorPrincipal .mainGame .contenedorEjercicios .contenedorEjercicio .textoPregunta .contenedorSelect select{
	position: relative;
	appearance: none;
	-webkit-appearance: none;
	display: inline-block;
	width: 100%;
	cursor: pointer;
	padding: 5px 5px;
	height: 50px;
	outline: 0;
	background: #f0f0f0;
	font-size: 30px;
	color: #999;
	border:2px solid rgba(0,0,0,0.2);
	border-radius: 50px;
	transition: all 0.25s ease;
}
/*.contenedorPrincipal .mainGame .contenedorEjercicios .contenedorEjercicio .textoPregunta .contenedorSelect select:hover{
	background: #B1E8CD;
}*/
.contenedorPrincipal .mainGame .contenedorEjercicios .contenedorEjercicio .textoPregunta .contenedorSelect i{
	position: absolute;
	width: 16px;
	height: 16px;
	right: 16px;
	top: calc(50% - 13px);
	/* display: block; */
	border-left:4px solid #2AC176;
	border-bottom:4px solid #2AC176;
	transform: rotate(-45deg); /* Giramos el cuadrado */
	transition: all 0.25s ease;
}
/*.contenedorPrincipal .mainGame .contenedorEjercicios .contenedorEjercicio .textoPregunta .contenedorSelec:hover i{
	margin-top: 3px;
}*/
.contenedorPrincipal .mainGame .contenedorEjercicios .botonValidar{
	position: absolute;
	width: 100px;
	height: 50px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ffffff;
}